{% load static %}

{% url 'coinapp:home' as url_home %}
{% url 'coinapp:offerings' as url_offerings %}
{% url 'login' as url_login %}
{% url 'signup' as url_signup %}
{% url 'about' as url_about %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Stack Coin{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block css %}
    {% endblock %}
  </head>
  <body>    
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
          <div class="row justify-content-center">
            <div class="col-6 text-end">
              {% if user.is_authenticated %}
                <div style="float: right;">                  
                    <strong>{{ user.username }}</strong>                  
                    | <form method="post" style="display:inline!important;" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button class="btn btn-link" type="submit">logout</button>
                  </form>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              
              <ul class="nav nav-tabs card-header-tabs">
                {% if user.is_authenticated %}                  
                  <li class="nav-item">
                    <a class="nav-link{% if request.path == url_home.path %} active{% endif %}" href="{{url_home}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link{% if url_offerings in request.path %} active{% endif %}" href="{{url_offerings}}">Offerings </a>
                  </li>
                {% else %}
                  
                  <li class="nav-item">
                    <a class="nav-link{% if request.path == url_login  %} active{% endif %}" href="{{url_login}}">Log in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link{% if request.path == url_signup  %} active{% endif %}" href="{{url_signup}}">Sign up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link{% if request.path == url_about  %} active{% endif %}" href="{{url_about}}">About</a>
                  </li>
                {% endif %}
              </ul>
                
              
            </div>
            <div class="card-body" style="min-height: 500px;">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}

              {% block content %}
              {% endblock %}
            </div>
          </div>
          <footer>
            <a href="https://github.com/sta-k/stackcoin/">GitHub repository</a>
          </footer>
        </div>
      </div>
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
