{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'select2/select2.min.css' %}">
{% endblock %}

{% block content %}
<h3 class="text-muted">Balance: {{request.user.amount}}$</h3>
<form method="post" action="."> {% csrf_token %}
    <p class="lead">Send Funds:</p>
    <div class="mb-3">
        <label for="touser" class="form-label">Destination address</label>
        <select class="form-control" id="id_touser" name="touser">
            <option value="">---------</option> 
            {% for user in users %}
            <option value="{{user.username}}">{{user.username}}({{user.first_name}})</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="offering" class="form-label">Item</label>
        <select class="form-control" name="offering" id="id_offering">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<hr>
<p>Total money in existence:${{total}}</p>
<p class="lead">Your Transactions</p>
<ol class="list-group list-group-numbered">
    {% for transaction in transactions %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{% if transaction.is_received %}Received from {{transaction.creator_person.first_name}}{% else %}Paid to {{transaction.target_person.first_name}}{% endif %}</div>
          {{transaction.created_at}}
        </div>
        <span class="badge text-bg-{% if transaction.is_received %}success{%else%}danger{%endif%} rounded-pill">{% if transaction.is_received %}+{%else%}-{%endif%}${{transaction.offering.amount}}</span>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block js %}
<script src="{% static 'select2/select2.min.js' %}"></script>
<script>
    $(function () {
        $('#id_touser').select2();
        $('#id_touser').on('select2:select', function (e) {
            let userid = e.params.data.id;
            console.log(userid);
            $.ajax({ url: "{% url 'coinapp:ajax_load_offerings' %}", data: {'userid': userid},
                success: function (data) {
                  $("#id_offering").html(data);
                }
            });
        });
    });
</script>
{% endblock %}