{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<p class="text-muted">Balance: {% widthratio request.user.amount 100 1 %} rs.</p>
<form method="post" action="."> {% csrf_token %}
    <p class="lead">Send Funds:</p>
    <div class="mb-3">
        <label for="destAddress" class="form-label">Destination address</label>
        <input type="text" class="form-control" name="destAddress" id="destAddress" aria-describedby="addressHelp">
        <div id="addressHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="text" class="form-control" name="amount" id="amount">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<hr>
<p class="lead">Your Transactions</p>
<ol class="list-group list-group-numbered">
    <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Paid to Sumee</div>
        16 Sep 2024, 7:26 AM
      </div>
      <span class="badge text-bg-danger rounded-pill">-$14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Received from Suhail</div>
        16 Sep 2024, 7:21 AM
      </div>
      <span class="badge text-bg-success rounded-pill">+$55</span>
    </li> -->
    {% for transaction in transactions %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{% if transaction.is_received %}Received from {{transaction.input.first_name}}{% else %}Paid to {{transaction.output.first_name}}{% endif %}</div>
          {{transaction.created_at}}
        </div>
        <span class="badge text-bg-{% if transaction.is_received %}success{%else%}danger{%endif%} rounded-pill">{% if transaction.is_received %}+{%else%}-{%endif%}${% widthratio transaction.output_amount 100 1 %}</span>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block js %}
<script>
    var searchRequest = null;
    $(function () {
        $("#destAddress").keyup(function () {
            let value = $(this).val();

            if (value.length == 10) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{% url 'coinapp:getuser' %}",
                    data: {
                        'user': value
                    },
                    success: function (data) {
                        $("#addressHelp").html(data);
                    }
                });
            }
        });
    });
</script>
{% endblock %}