{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'select2/select2.min.css' %}">
{% endblock %}

{% block content %}
<h3 class="text-muted">Balance: {{request.user.amount}}$</h3>
<form method="post" action="."> {% csrf_token %}
    <p class="lead">Seller transaction:</p>
    <div class="mb-3">
        <label for="buyer" class="form-label">Buyer:</label>
        <select class="form-control" id="id_buyer" name="buyer">
            <option value="">---------</option> 
            {% for user in users %}
            <option value="{{user.username}}">{{user.username}}({{user.first_name}})</option>
            {% endfor %}
        </select>
        <p class="lead">Balance: <span id="user_balance"></span></p>
    </div>
    <div class="mb-3">
        <label class="form-label">Description:</label>
        <input type="text" class="form-control" name="description">
    </div>
    <div class="mb-3">
        <label class="form-label">Amount:</label>
        <input type="text" class="form-control" name="amount">
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
<hr>
<p>Total money in existence:${{total}}</p>
<p class="lead">My latest 5 Transactions</p>
<a href="#">sell all transactions</a>
{% include 'coinapp/parts/_transactions.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'select2/select2.min.js' %}"></script>
<script>
    $(function () {
        $('#id_buyer').select2();
        $('#id_buyer').val('').trigger('change');
        $('#id_buyer').on('select2:select', function (e) {
            $.ajax({ 
                url: "{% url 'coinapp:ajax_get_balance' %}", 
                data: {'username': e.params.data.id},
                success: function (data) {
                    $("#user_balance").html(data);
                }
            });
        });

    });
</script>
{% endblock %}