{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %} 
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>SL</th>
      <th>Category</th>
      <th>Heading</th>
      <th>Detail</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    {% for offering in offerings %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><strong>{{offering.category}}</strong></td>
      <td>{{offering.heading}}</td>
      <td>{{offering.detail}}</td>
      <td>{{offering.amount}}$</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
