<!-- To show list of users -->
{% extends 'base.html' %}
{% load quiz_extras %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'coinapp:exchange_list' %}">Exchanges</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ view.kwargs.exchange }}</li>
  </ol>
</nav>

<form method='GET'>
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name='q' value='{{ request.GET.q }}' placeholder="Filter by username/firstname">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Search...</button>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<div class="row">
{% for user in users %}
  <div class="col-6 col-md-3 mb-4">
    <div class="media">
      <a href="{% url 'coinapp:user_detail' exchange=user.exchange.code user=user.id %}">
        <img class="mr-3" src="{{ user.username|gravatar_url:50 }}" alt="{{user.first_name}}">
      </a>
      <div class="media-body" style="font-size: 12px">
        <!-- <a href="#">{{user.get_full_name}}</a><br> -->
        <a href="{% url 'coinapp:user_detail' exchange=user.exchange.code user=user.id %}">{{user.username}}</a><br>
        Balance: <strong>{{user.amount}}</strong><br>
        {{user.first_name}}
      </div>
    </div>
  </div>
{% empty %}
  <div class="col-sm-6"><p class="text-warning">No user matched your search.</p></div>
{% endfor %}
</div>

{% include '_pagination.html' %}
{% endblock %}