{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'select2/select2.min.css' %}" />
{% endblock %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
  <div class="col-md-8 col-sm-10 col-12">
    <h2>Sign up</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {{ form|crispy }}
      <div>
        <ul style="font-size: 12px">
          <li>
            Credit/debit limits
            <ul>
              <li>
                All new accounts are created with a balance of zero Units.
              </li>
              <li>
                Account-holders shall be entitled to begin trading without
                having a positive balance and may so incur a debit balance in
                their accounts.
              </li>
              <li>
                The administration may set limits to the extent to which
                accounts may go into debit and credit.
              </li>
            </ul>
          </li>

          <li>
            Exceeding limits

            <p>
              It shall be the duty of each seller in a transaction to ensure
              that the buyers have not exceeded their limits before agreeing to
              a transaction. If a buyer's debit limit is exceeded then the
              transaction may be declined, in which event:
            </p>
            <ul>
            <li>
              The seller will have to take recourse against the buyer
              personally.
            </li>
            <li>
              The parties accept the jurisdiction of the small claims court,
              alternatively the magistrates court for the district having
              jurisdiction
            </li>
            <li>
              The seller shall be entitled to claim the amount owed in Units in
              Rupees on the basis of one Rupees being equal to one Unit.
            </li>
          </ul>
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-success">Sign up</button>
    </form>
  </div>
</div>
{% endblock %} {% block js %}
<script src="{% static 'select2/select2.min.js' %}"></script>
<script>
  $(function () {
    $("#id_offerings").select2();
  });
</script>
{% endblock %}
